<!DOCTYPE html>
<html lang="en" >
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="custom.js" ></script>
    </head>
    <body ng-app="myApp">
        <!--Name :<input type="" ng-model="username" name="" ><br>
        {{"Name: "+username}} 
        <br>
        <select ng-model="color">
            <option >Blue</option>
            <option >Red</option>
            <option >Yellow</option>
            <option >Pink</option>
        </select>
            {{"Your selected color is : " +color}}
            <p>color <span ng-bind="color"></span></p><br>-->
            <!--Name : <input type="text" style="background-color:{{color}} " >-->

            <div ng-app="myApp" ng-init="number=56;name='Rahul';color=['red','Yellow','Green']">
                <p>{{name}}</p>
                <p>{{number}}</p>
                <p>{{color[0]}}</p>
            </div>

            <li ng-repeat="x in color">{{x}}</li>

            <div ng-controller="firstcontroller">

            </div>
    </body>
</html>